<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>Account_Config</title>
				<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
				<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body class="container">
		<h1 class="display-4 mb-4" th:text="${title}"></h1>
		<div th:if="${list} == null">
			<p>クラスが見つかりませんでした。</p>
		</div>
		<div th:unless="${list} == null">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>アカウント名</th>
						<th>アカウントタイプ</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${account_list}">
						<td th:text="${item.GetId}"></td>
						<td th:text="${item.GetName}"></td>
						<td th:text="${item.GetAuthority}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>